# Archivos de configuración de IntelliJ
.idea/

# Archivos compilados
*.class
*.jar
*.war
*.ear
*.iml

# Archivos temporales de construcción
target/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de dependencias
.mvn/
.gradle/
node_modules/
venv/
media/
downloads/
/data/config.yaml
/data/save.json
